.danceteam-1 {
	position: absolute;
	top: 0;
	left: 0;
}
.danceteam-2 {
	position: absolute;
	top: 0;
	left: 276px;
}

.danceteam-3 {
	position: absolute;
	top: 0;
	left: 552px;
}
.danceteam-4 {
	position: absolute;
	top: 0;
	left: 828px;
}
.danceteam-5 {
	position: absolute;
	top: 212px;
	left: 0;
}
.danceteam-6 {
	position: absolute;
	top: 212px;
	left: 276px;
}
.danceteam-7 {
	position: absolute;
	top: 212px;
	left: 552px;
}
.danceteam-8 {
	position: absolute;
	top: 212px;
	left: 828px;
}

/* a标签 分离布局 */
.con-header , .con-footer{
	left: 92px;
	width: 1084px;
}
.con-header a {
	width: 25%;
	height: 1px;
}
.con-footer a {
	width: 50%;
	height: 1px;
}